body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.slider {
    position: relative;
    max-width: 1750px; /* 500px * 3.5 */
    margin: 0 auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    width: 500px;
    flex-shrink: 0;
}

.slide img {
    width: 100%;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 1750px; /* 500px * 3.5 */
    margin-top: 10px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-left: 10px;
}

button:disabled {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: not-allowed;
}
